<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <!-- 名前空間の設定 -->
  <mapper namespace="com.sample.dao.TaskDao">
  	
  	<resultMap type="com.sample.dto.Task" id="taskResult">
  		<result column="taskId" property="taskId"/>
  		<result column="memberId" property="memberId"/>
  		<result column="deadline" property="deadline"/>
  		<result column="taskText" property="taskText"/>
  		<result column="isCompleted" property="isCompleted"/>
  	</resultMap>

  	

  </mapper>